In [3]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn import metrics
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import PassiveAggressiveClassifier
import numpy as np
from sklearn.externals import joblib
import matplotlib.pyplot as plt
import itertools
import re
import nltk

In [4]:
true = pd.read_csv("True.csv")

In [5]:
true.head(3)

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017

[3 rows x 4 columns]

In [6]:
fake = pd.read_csv("Fake.csv")

In [7]:
fake.head(3)

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017

[3 rows x 4 columns]

In [8]:
fake.shape

(23481, 4)

In [9]:
true.shape

(21417, 4)

In [10]:
true['fact'] = 1

In [11]:
fake['fact'] = 0

In [12]:
fake.head(3)

                                               title  ... fact
0   Donald Trump Sends Out Embarrassing New Year’...  ...    0
1   Drunk Bragging Trump Staffer Started Russian ...  ...    0
2   Sheriff David Clarke Becomes An Internet Joke...  ...    0

[3 rows x 5 columns]

In [13]:
true.head(3)

                                               title  ... fact
0  As U.S. budget fight looms, Republicans flip t...  ...    1
1  U.S. military to accept transgender recruits o...  ...    1
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...    1

[3 rows x 5 columns]

In [14]:
dataTotal = [true.loc[0:5000][:], fake.loc[0:5000][:]]

In [15]:
totalData = pd.concat(dataTotal)

In [16]:
totalData.shape

(10002, 5)

In [17]:
totalData.sample(frac=1).reset_index(drop=True)

                                                   title  ... fact
0       Colbert PERFECTLY Explains The Horror Of A Wo...  ...    0
1       This ‘Duck Dynasty’ Star Wants To Baptize Don...  ...    0
2       Government Ethics Office Systems Crash After ...  ...    0
3       Pence Says There Is ‘Too Much Talk’ About Rac...  ...    0
4      Lebanon's Hezbollah calls U.S. strike on Syria...  ...    1
...                                                  ...  ...  ...
9997   Senator McCain says he will offer Afghanistan ...  ...    1
9998   Michigan state House approves carrying conceal...  ...    1
9999   Trump invites Republican senators to healthcar...  ...    1
10000  Trump to limit Cuba travel, restrict business ...  ...    1
10001  Senate gives limited resources to Russia elect...  ...    1

[10002 rows x 5 columns]

In [18]:
xAxis = totalData.drop("fact",axis=1)

In [19]:
yAxis = totalData['fact']

In [20]:
totalData = totalData.dropna()

In [21]:
stringTotal = totalData.copy()

In [22]:
stringTotal.reset_index(inplace = True)

In [23]:
stringTotal.head()

   index  ... fact
0      0  ...    1
1      1  ...    1
2      2  ...    1
3      3  ...    1
4      4  ...    1

[5 rows x 6 columns]

In [24]:
stringTotal['text'][34]

' KING OF PRUSSIA, Pennsylvania/WASHINGTON (Reuters) - In the Fox & Hound sports bar, next to a shopping mall in suburban Philadelphia, four Democrats are giving speeches to potential voters as they begin their journey to try to unseat Republican congressman Pat Meehan in next year’s elections. Winning this congressional district - Pennsylvania’s 7th - is key to Democrats’ hopes of gaining the 24 seats they need to retake the U.S. House of Representatives next November. The stakes are high - control of the House would allow them to block President Donald Trump’s legislative agenda. On the surface, Democrats face a significant hurdle. In nearly two-thirds of 34 Republican-held districts that are top of the party’s target list, household income or job growth, and often both, have risen faster than state and national averages over the past two years, according to a Reuters analysis of census data.\xa0(Graphic:\xa0tmsnrt.rs/2Bgq29K) That is potentially vote-winning news for Republican incumbents, who in speeches and television ads can trumpet a strengthening economy as a product of Republican control of Washington, even though incomes and job growth began improving under former Democratic President Barack Obama. “The good economy is really the only positive keeping Republicans afloat,” said David Wasserman, a congressional analyst with the non-partisan Cook Political Report. Still, trumpeting the good economy may have limited impact among voters in competitive districts like this mostly white southeast region of Pennsylvania bordering Delaware and New Jersey, which has switched between both parties twice in the past 15 years. Many of the two dozen voters that Reuters interviewed in the 6th and 7th districts agreed the economy was strong, that jobs were returning and wages were growing. A handful were committed Republicans and Democrats who always vote the party line. About half voted for Meehan last year, but most of those said they were unsure whether they would vote for him again in 2018. Some said they were disappointed with the Republican Party’s handling of healthcare and tax reform as well as Trump’s erratic performance. About half also felt that despite an improving economy, living costs are squeezing the middle class. Drew McGinty, one of the Democratic hopefuls at the Fox & Hound bar hoping to unseat Meehan, said the good economic numbers were misleading. “When I talk to people across the district, I hear about stagnant wages. I hear about massive debt young people are getting when they finish college. There’s a lot out there not being told by the numbers,” he said. Still, Meehan, who won by 19 points in last November’s general election, is confident the strong economy will help him next year. He plans to run as a job creator and a champion of the middle class. “The first thing people look at is whether they have got a job and income,” Meehan said in a telephone interview. Democratic presidential candidate Hillary Clinton carried the district by more than two points in the White House race, giving Democrats some hope that they can peel it away from Republicans next November. Kyle Kondik, a political analyst at the University of Virginia Center for Politics, said the election will essentially be a referendum on Trump. The economy might help Republicans, he said, but other issues will likely be uppermost in voters’ minds, like the Republican tax overhaul - which is seen by some as favoring the rich over the middle class - and Trump’s dismantling of President Barack Obama’s initiative to expand healthcare to millions of Americans, popularly known as Obamacare. Indeed, healthcare is Americans’ top concern, according to a Reuters/Ipsos poll conducted earlier this month. Next is terrorism and then the economy. “Healthcare will be the No. 1 issue,” in the election, predicted Molly Sheehan, another Democrat running to unseat Meehan. Democrats have warned that dismantling Obamacare will leave millions of Americans without health coverage, and political analysts say Republicans in vulnerable districts could be punished by angry voters. Republicans argue that Obamacare drives up costs for consumers and interferes with personal medical decisions. In Broomall, a hamlet in the 7th District, local builder Greg Dulgerian, 55, said he voted for Trump and Meehan. He still likes Trump because of his image as a political outsider, but he is less certain about Meehan. “I’m busy, which is good,” Dulgerian said. “But I actually make less than I did 10 years ago, because my living costs and costs of materials have gone up.” Dulgerian said he was not sure what Meehan was doing to address this, and he was open to a Democratic candidate with a plan to help the middle class. Ida McCausland, 65, is a registered Republican but said she is disappointed with the party. She views the overhaul of the tax system as a giveaway to the rich that will hit the middle class. “I will probably just go Democrat,” she said. Still, others interviewed said the good economy was the most important issue for them and would vote for Meehan. \xa0\xa0\xa0 Mike Allard, 35, a stocks day trader, voted for Clinton last year but did not cast a ballot in the congressional vote. He thinks the economy will help Meehan next year and is leaning toward voting for him. “Local businesses like the way the economy is going right now,” he said. In the 7th district median household income jumped more than 10 percent from 2014 to 2016, from $78,000 to around $86,000, above the national average increase of 7.3 percent, while job growth held steady, the analysis of the census data shows. Overall, the U.S. economy has grown 3 percent in recent quarters, and some forecasters now think the\xa0stimulus from the Republican tax cuts will sustain that rate of growth through next year. Unemployment has dropped to 4.1 percent, a 17-year low. In midterm congressional elections, history shows that voters often focus on issues other than the economy. In 1966 the economy was thriving, but President Lyndon B. Johnson’s Democrats suffered a net loss of 47 seats, partly because of growing unhappiness with the Vietnam War. In 2006, again the economy was humming, but Republicans lost a net 31 seats in the House, as voters focused on the Iraq war and the unpopularity of Republican President George W. Bush. In 2010, despite pulling the economy out of a major recession, Democrats lost control of the House to Republicans, mainly because of the passage of Obamacare, which at the time was highly unpopular with many voters. “When times are bad, the election is almost always about the economy. When the economy is good, people have the freedom and the ability to worry about other issues,” said Stu Rothenberg, a veteran political analyst. '

In [25]:
stringTotal['fact'][34]

1

# **Natural Language Processing**
This step makes program more efficient and lessens the contrains on the machine learning aspect of the program

In [27]:
singleStem = PorterStemmer()

In [ ]:
nltk.download('stopwords')
limit = []
for i in range(0,len(stringTotal)):
  review = re.sub('[^a-zA-Z]', ' ', stringTotal['text'][i])
  review = review.lower()
  review = review.split()
  review = [singleStem.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  limit.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
vector = TfidfVectorizer(max_features=5000, ngram_range=(1,3))

In [ ]:
vector.get_params()

In [ ]:
xAxis = vector.fit_transform(limit).toarray()

In [ ]:
yAxis = stringTotal['fact']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(xAxis, yAxis, test_size=0.2, random_state=0)

In [ ]:
data_count = pd.DataFrame(X_train, columns=vector.get_feature_names())

In [ ]:
data_count.head(3)

In [ ]:
identifier = PassiveAggressiveClassifier(max_iter=1000)

In [ ]:
identifier.fit(X_train, y_train)

In [ ]:
predictor = identifier.predict(X_test)
accuracy = metrics.accuracy_score(y_test,predictor)

In [ ]:
print(accuracy)

In [ ]:
review = re.sub('[^a-zA-Z]', ' ', true['text'][16888])
review = review.lower()
review = review.split()
review = [singleStem.stem(word) for word in review if not word in stopwords.words('english')]
review = ' '.join(review)

In [ ]:
inputData = vector.transform([review]).toarray()

In [ ]:
pd.DataFrame(inputData, columns = vector.get_feature_names())

In [ ]:
identifier.predict(inputData)

In [ ]:
joblib.dump(identifier, 'model.pkl')

In [ ]:
joblib.dump(vector, 'tfidfvect.pkl')